@font-face {
    font-family: "Alegreya_SC";
    src: url("/public/fonts/Alegreya_SC/AlegreyaSC-Regular.ttf")
      format("truetype");
  }
  
  @font-face {
    font-family: "Alegreya_Sans";
    src: url("/public/fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf")
      format("truetype");
  }

.gameTable {
    display: flex;
}

.table {
    padding-left: 100px;
}