@font-face {
  font-family: "Alegreya_SC";
  src: url("/public/fonts/Alegreya_SC/AlegreyaSC-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Alegreya_Sans";
  src: url("/public/fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf")
    format("truetype");
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  padding-top: 100px;
}

.tableContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.table {
  position: absolute;
  z-index: -1;
}

.gameInfo {
  z-index: 1;
  transform: translateY(100px);
}

.textContainer {
position: absolute;
transform: translate(15%, -215%);
}

.placeBetText {
  text-align: center;
  font-family: "Alegreya SC";
  font-size: 64px;
  color: white;
}

.amountSelectedText {
  text-align: center;
  font-family: "Alegreya Sans";
  font-size: 32px;
  color: white;
}

.tokensButton {
  background-color: transparent;
  border: none;
  transition: transform 0.2s ease;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 10px;
  transform: translateY(15px);
}

.tokensButton img:hover {
  transition: transform 0.2s ease;
  transform: scale(1.1);
}

.tokensButton img:active {
  transform: translateY(2px);
}

.playerInfoContainer {
  display: flex;
}

.playerInfo {
  display: flex;
  transform: translate(-100px, 90px);
  gap: 20px;
}

.playerInfo p {
  font-family: 'Alegreya Sans';
  color: white;
}

.userName {
  font-size: 64px;
}

.lineSplit {
  font-size: 64px;
}

.availableTokens {
  font-size: 32px;
}

.clearBetButton {
  background-color: white;
  color: black;
  font-family: 'Alegreya Sans';
  font-size: 20px;
  border: none;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  padding: 15px;

  transform: translateY(10px);
}

.playButton {
  background-color: white;
  color: black;
  font-family: 'Alegreya SC';
  font-size: 32px;
  border: none;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  padding: 15px;
  transform: translate(70px, 70px);
  transition: transform 0.2s ease;
}

.standHitContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 75px;
  margin-left: 70%;
}

.standButton,
.hitButton {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  border: none;
  background-color: #323232;
  font-family: "Alegreya SC";
  font-size: 32px;
  color: white;
  opacity: 0.7;
}
