@font-face {
    font-family: "Alegreya_SC";
    src: url("/public/fonts/Alegreya_SC/AlegreyaSC-Regular.ttf")
      format("truetype");
  }
  
  @font-face {
    font-family: "Alegreya_Sans";
    src: url("/public/fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf")
      format("truetype");
  }

.navBar {
    background-color: #871c25;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: sticky;
  }
  
  .logo {
    display: flex;
    gap: 10px;
    font-family: 'Alegreya SC';
    font-size: 30px;
    margin-left: 30px;
    text-decoration: none;
    color: inherit;
  }
  
  .cardLogo {
    width: 65px;
  }
  
  .navLinks {
    display: flex;
    font-family: 'Alegreya Sans';
    font-size: 30px;
    text-decoration: underline;
  }
  
  .profileLink {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 50px;
  }
  
  .socialLink {
    margin-right: 120px;
  }
  
  body {
    background-color: #007246;
  }

/* end of NavBar */


  .formContainer {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

  .logInForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: fit-content;
    background-color: white;
    padding: 20px;
    border: 10px solid #DDDDDD;
    border-radius: 20px;
  }

  .logInText {
    font-family: 'Alegreya SC';
    font-size: 45px;
  }

  .signUpTextContainer {
    display: flex;
    gap: 5px;
    font-family: 'Alegreya Sans';

    padding-bottom: 20px;
  }

  .formGroup {
    margin-bottom: 20px;
  }

  .logInButton {
    background-color: #871c25;
    color: white;
    font-family: 'Alegreya Sans';
    font-size: 26px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: fit-content;
    transition: all 0.2s ease;
    text-align: center;
    
  }
  
  .logInButton:hover {
    transform: scale(1.1);
    font-size: 27px;
  }

  .logInContainer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }