@font-face {
  font-family: "Alegreya_SC";
  src: url("/public/fonts/Alegreya_SC/AlegreyaSC-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Alegreya_Sans";
  src: url("/public/fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf")
    format("truetype");
}

.tableContainer1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 250px;
}

.table1 {
  position: absolute;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.standHitContainers {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 75px;
  margin-left: 70%;
}

.standButton1,
.hitButton1 {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  border: none;
  background-color: #323232;
  font-family: "Alegreya SC";
  font-size: 32px;
  color: white;
}

.Cards-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.playerCards,
.dealerCards {
  display: flex;
  gap: 1rem;
}

.playerCards {
  transform: translateY(40px);
}

.dealerCards {
  transform: translateY(-130px);
}

.userName1 {
  position: absolute;
  transform: translate(-320px, 300px);
  color: white;
  font-family: "Alegreya_Sans";
  font-size: 64px;
}

.dealer {
  color: white;
  font-family: "Alegreya_Sans";
  font-size: 64px;
  position: absolute;
  transform: translate(-300px, -300px);
}

.betAmount1 {
  position: absolute;
  color: white;
  font-size: 48px;
  font-family: "Alegreya Sans";
  transform: translate(-320px, 220px);
}


.dealerScore {
    position: absolute;
    font-size: 145px;
    font-family: "Alegreya SC";
    color: white;
    padding-left: 140px;
    transform: translateY(-340px);
}

.playerScore {
    position: absolute;
    font-size: 145px;
    font-family: "Alegreya SC";
    color: white;
    padding-left: 100px;
    padding-top: 30px;
}